.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-layout .main-layout__content {
    flex:1;
    overflow-y: scroll;
    position: relative;
}

.main-layout--with-padding .main-layout__content {
  padding: 20px 20%;
}

@media only screen and (max-width: 500px) {
  .main-layout--with-padding .main-layout__content {
    padding: 0 20px;

    padding-top: 10px;
  } 
}