.page-switcher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.page-switcher__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px 40px;
}

.page-switcher__button {
  flex: 1;
  border-radius: 100px;
  background-color: transparent;
  width: 100%;
  height: 44px;
  border: 1px solid #9e9e9e;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin:0;
}

.page-switcher__button:hover {
  border-color: #5b5b5b;
  transform: translateY(-2px);
}

.page-switcher__button:hover p {
  color: #5b5b5b;
}

.page-switcher__button--active {
  border-color: #6100ff;
}

.page-switcher__button--active:hover {
  border-color: #4700b8;
}

.page-switcher__button--active:hover p {
  color: #4700b9;
}

.page-switcher__button p {
  font-size: 16px;
  color: #9e9e9e;
  transition: all 0.3s ease-in-out;
}

.page-switcher__button--active p {
  color: #6100ff;
}
