.event-popup {
  position: absolute;
  background-color: white;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  z-index: 1000;
  box-shadow: 0px 50px 10px rgba(0, 0, 0, 0.1);
  animation: fade-in-event 0.5s ease-in-out;

  overflow-y: scroll;
}

.event-popup__title {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

@keyframes fade-in-event {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.event-popup__close-btn {
  display: none;
}

@media only screen and (max-width: 500px) {
  .event-popup {
    width: 100%;
  }

  .event-popup__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .event-popup__close-btn-icon {
    width: 20px;
    height: 20px;
  }
}
