footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #140034; 
	padding: 1rem 2rem;
	width: 100%;
	flex-shrink: 0;
	margin-top: 20px;
 }
 
 footer p {
	color: #f7f1f1; 
	font-size: 0.9rem;
	text-align: center;
 }
