footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #140034; 
	padding: 1rem 2rem;
	bottom: 0;
	left: 0; 
	width: 100%;
	box-shadow: 0px -4px 12px rgba(20, 230, 212, 0.1);
	box-sizing: border-box;  
	flex-shrink: 0;
	position: absolute;
 }
 
 footer p {
	color: #f7f1f1; 
	font-size: 0.9rem;
	text-align: center;
 }
