.attended-event-list-item {
  display: flex;
  flex-direction: column;
}

.attended-event-list-item-container {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  background-color: white;
}

.action-area-element-title {
  font-weight: 600;
}

.action-area-element_rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-area-element_rating-stars {
  display: flex;
}

.action-area-element_rating-star {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}
